.login-slick-img {

    max-width: 600px;
    max-height: 500px;
}

.login-small {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.login-btn{
    display:block;
    justify-content: center !important;
    text-align: center !important;
}
.login-form{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-card{
    background-image: url('../img/Photo6.png');
    background-repeat: no-repeat;
    max-height: 900px !important;
    
}

.login-body {
  height: 500px;          
  overflow: hidden;       
  position: relative;
}

.login-body .slick-slider,
.login-body .slick-list,
.login-body .slick-track {
  height: 100%;
}

.login-body .slick-slide > div {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.login-slick-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
